# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [4]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

In [5]:
# Use the file data/exercises/surfing.txt
# Start by counting the total lines and add the total to the variable count_total.  
# count_total = ...


auxiliar = ! wc -l < data/exercises/surfing.txt
count_total = int(auxiliar[0])

In [26]:
expected_hash = 'c6f3ac57944a531490cd39902d0f777715fd005efac9a30622d5f5205e7f6894'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

Now store in 2 variables the first third and the last third of the lines existent on that file.

In [27]:
# NOT GRADED optional exercise!!
# Now add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total/3 for instance in the bash commands
# first_third = ...

first_third = ! head -3 data/exercises/surfing.txt

# last_third = ...
last_third = ! tail -3 data/exercises/surfing.txt

Test the `first_third` and `last_third` exercise by running the following (ungraded) asserts.

```
assert first_third[-1][0] == 's'
assert last_third[0][0] == 'l'
```

## Q2: Read a file with specific delimiter

Read file **data/exercises/surfing_sessions.csv** into a pandas DataFrame.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the last column as index.

In [28]:
# Use a shell command to preview the data
# ! ...
# YOUR CODE HERE
! head -5 data/exercises/surfing_sessions.csv
#! cat data/exercises/surfing_sessions.csv

# Use function read_csv to read the data into a DataFrame
# df2 = pd.read_csv(...)
# YOUR CODE HERE
df2 = pd.read_csv('data/exercises/surfing_sessions.csv', sep=';', index_col = 'visit_id')
df2.head()

surfer;wave_power;location;visit_id
3;37,6;Rocky Point;146097
3;5,7;Chuns;146087
3;5;Noronha(Cacimba);130395
3;5;Rocky Point;130363

          surfer wave_power            location
visit_id
146097         3       37,6         Rocky Point
146087         3        5,7               Chuns
130395         3          5    Noronha(Cacimba)
130363         3          5         Rocky Point
130362         3       11,3  Noronha(Conceicao)

In [29]:
assert df2.loc[126903, 'location'] == 'Pupukea', "df3 data is wrong"
assert set(df2.columns) == {'location', 'surfer', 'wave_power'}, "df3 data is wrong"
assert len(df2) == 108, "df3 data is wrong"
assert df2.index[0] == 146097, "df3 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/surfing_sessions_w_problems.csv** using function `read_csv`. Pay attention to the following:
* you might find some trouble when reading the file, at first, then just ignore the problems ;)
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [30]:
# Read file data/exercises/surfing_sessions_w_problems.csv with read_csv
# df3 = pd.read_csv(...)
# YOUR CODE HERE

! head -20 data/exercises/surfing_sessions_w_problems.csv

#

df3 =  pd.read_csv('data/exercises/surfing_sessions_w_problems.csv', 
            index_col = 'visit_id',
            na_values={'wave_power': 999999},
            error_bad_lines=False)

visit_id,surfer,wave_power,location
146097,3,37.6,Rocky Point
146087,3,5.7,Chuns
130395,3,999999,Noronha(Cacimba)
130363,3,5,Rocky Point
130362,3,11.3,Noronha(Conceicao)
130360,3,8.9,Noronha(Boldo)
126903,3,32.7,Pupuke
126902,3,no-data,Pupukea,,
126591,3,9.7,Ehukai
126590,3,10.4,Changes
126341,3,8.2,Changes
126340,3,38.6,Laniakea,
125540,3,34.1,Laniakea
122199,3,14.4,Glass Doors
121170,3,34.9,Walter’s West
120454,3,999999,Gas Chambers
119736,3,21.7,Rocky Point,
119735,3,21.2,Rocky Point,,

b'Skipping line 9: expected 4 fields, saw 6\nSkipping line 13: expected 4 fields, saw 5\nSkipping line 18: expected 4 fields, saw 5\nSkipping line 19: expected 4 fields, saw 6\n'

In [31]:
assert np.isnan(df3.loc[130395, 'wave_power']), "df3 data is wrong"
assert df3.loc[126903, 'wave_power'] == 32.7, "df3  data is wrong"

mean_selective_waste = df3['wave_power'].mean()
assert math.isclose(17.741, mean_selective_waste, rel_tol=1e-3), "df3 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read the same file **data/exercises/surfing_sessions_w_problems.csv** using function `read_csv`. But now, be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with only 4 meaningful columns and then convert the column `visit_id` to index
* replace garbage values with NaN's 
* format the columns with the right type

In [32]:
# Read file data/exercises/surfing_sessions_w_problems.csv using csv.reader and add result to
# lines = ...
f = open('data/exercises/surfing_sessions_w_problems.csv', 'r')
# create a list of lines
lines = list(csv.reader(f))

# create a dataframe using the line list with only 4 columns
# df4 = pd.DataFrame(...
# YOUR CODE HERE
n_elements = 4
csv_list = [i[:n_elements] for i in lines]
f.close()

df4 = pd.DataFrame(csv_list[1:], columns=csv_list[0])

# replace invalid values with nan (np.nan)
df4['wave_power'][df4['wave_power'] == '999999'] = np.nan
df4['wave_power'][df4['wave_power'] == 'no-data'] = np.nan

# set types per dataframe column (always use int64 when int's are needed)
# YOUR CODE HERE

df4[['visit_id', 'surfer']] = df4[['visit_id', 'surfer']].astype('int64') 
df4['wave_power'] = df4['wave_power'].astype(float)

# set a new index to the dataframe
df4.set_index('visit_id', inplace = True)

df4.info()
df4.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 146097 to 119735
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   surfer      18 non-null     int64
 1   wave_power  15 non-null     float64
 2   location    18 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 576.0+ bytes

          surfer  wave_power            location
visit_id
146097         3        37.6         Rocky Point
146087         3         5.7               Chuns
130395         3         NaN    Noronha(Cacimba)
130363         3         5.0         Rocky Point
130362         3        11.3  Noronha(Conceicao)

In [13]:
assert np.isnan(df4.loc[130395, 'wave_power']), "df4 content is wrong"
assert df4.loc[126340, 'wave_power'] == 38.6, "df4 content is wrong"

mean_wave_power = df4['wave_power'].mean()
assert math.isclose(19.626, mean_wave_power, rel_tol=1e-3), "df4 content is wrong"

assert df4['surfer'].dtype == np.int64, "df4 types are wrong"
assert df4['location'].dtype == object, "df4 types are wrong"
assert df4['wave_power'].dtype == float, "df4 types are wrong"
assert df4.index.dtype == np.int64, "df4 types are wrong"


expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [33]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
# df5 = read_json(...)
# YOUR CODE HERE

df5 = pd.read_json('data/exercises/portugal_production_of_electricity_gwh.json', orient='index')

In [34]:
hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest()

'48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'

In [35]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewables','Windpower','Year'}, "df5 columns are wrong"

expected_hash = '48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "Metadata"
* use column 'Serie' as index
* make sure you keep only the rows and columns with data
* set the variable distinct_scales with the number of ... distinct scales found in the table

In [36]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
# df6 = read_excel(...)
# YOUR CODE HERE

df6 = pd.read_excel('data/exercises/portugal_gas_emissions_per_year.xlsx', 
              sheet_name= 'Metadata', 
              skiprows=22, 
              skipfooter=6,
              usecols = ['Serie', 'Measure Unit','Value Type', 'Scale', 'Notes'])

df6.set_index('Serie', inplace = True)

distinct_scales = df6['Scale'].nunique()
distinct_scales
df6.head()

                                  Measure Unit      Value Type Scale Notes
Serie
Carbon dioxide from fossil origin    t (tonne)  Absolute Value  10^3   NaN
Carbon dioxide from biomass          t (tonne)  Absolute Value  10^3   NaN
Nitrous oxide                        t (tonne)  Absolute Value   N.º   NaN
Methane                              t (tonne)  Absolute Value   N.º   NaN
Ammonia                              t (tonne)  Absolute Value   N.º   NaN

In [37]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 4765.

In [38]:
# Find the encoding of file data/exercises/cities.csv
chardet.detect(open('data/exercises/cities.csv', 'rb').read())
encoding = 'IBM866'

# Read the file into a DataFrame
# df7 = ...
df7 = pd.read_csv('data/exercises/cities.csv', encoding='IBM866')


# Find the name of the city with distance = 4765
#city_found = .... (assign a string)

city_found = df7['City'][df7['distance']==4765].values[0]
city_found

'Акйс'

In [39]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '8af574a768f5527ee587cae4ac76837e7ec15d9f34d9dd288c9b4d161f4ad9a2'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2, "city_found is wrong"

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 12 rows. Count the actual lines with `wc`

In [40]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
# lines_in_file = ...
# Notice that the header is not a line..

lines_in_file = ! wc -l < data/exercises/world_percentage_of_literacy.tsv
lines_in_file = int(lines_in_file[0])-1
lines_in_file

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 12 rows should be fecthed
# rows_to_skip = ...

sample_number = 12
n_rows_to_skip = lines_in_file - sample_number
n_rows_to_skip

# Create a df8 dataframe with the sampled values
# don't forget: you want to keep the header plus 12 rows in the new dataframe.

random.seed(42)
rows_to_skip = random.sample(
    range(1, lines_in_file-1), # this is a range from the first row after the header, to the last row on the file
    n_rows_to_skip # this is the number of rows we want to random sample here, and that we will be skipped on pd.read_csv with argument skiprows
)

df8 = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv',
    sep='\t',
    skiprows=rows_to_skip
)


df8

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,Albania,97.6%,98.4%,96.8%,1.6%
1,Bahamas,not reported by UNESCO 2015,NaN,NaN,NaN
2,Bahrain,95.7%,96.9%,93.5%,3.5%
3,Ivory Coast,43.1%,53.1%,32.5%,20.6%
4,Guinea,30.4%,38.1%,22.8%,15.3%
5,Iran,86.8%,91.2%,82.5%,8.7%
6,Myanmar,75.6%[note 6],80.0%,71.9%,8.1%
7,Serbia,98.1%,99.1%,97.2%,1.9%
8,Sweden,not reported by UNESCO 2015,NaN,NaN,NaN
9,Switzerland,not reported by UNESCO 2015,NaN,NaN,NaN
10,Zambia,63.4%,70.9%,56.0%,14.9%
11,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [41]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '7559ca4a957c8c82ba04781cd66a68d6022229fca0e8e88d8e487c96ee4446d0'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==12, "df8 size is wrong"

expected_hash = '6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b11661a3eefacbba918'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Literacy rate (all)`.
Note that:
* file should be read by chunks of 10 countries
* the missing values should be removed (filtered in each chunk)
* the `Literacy rate (all)` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `Literacy rate (all)`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [42]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
#! head -10 data/exercises/world_percentage_of_literacy.tsv

def adjst_literacy(data):
    data = data.copy()
    data = data[data['Literacy rate (all)'] != 'not reported by UNESCO 2015']
    #data = data[data['Literacy rate (all)'] != '72.8%[note 2]']
    #data = data[data['Literacy rate (all)'] != '97.9% (in 2012)']
    #data = data[data['Literacy rate (all)'] != '75.6%[note 6]']
    #data['Literacy rate (all)'][data['Literacy rate (all)'] == 'not reported by UNESCO 2015'] = np.nan
    data['Literacy rate (all)'] = data['Literacy rate (all)'].str.split('%').str.get(0).astype(float)
    data = data[data['Country'] != 'World']
    return data
    

chunks_iter = pd.read_csv(
    'data/exercises/world_percentage_of_literacy.tsv',
    sep='\t',
    #na_values = {'Literacy rate (all)': 'not reported by UNESCO 2015'},
    usecols = ['Country', 'Literacy rate (all)'],
    chunksize=10
)

chunk_arr = []
for data_chunk in chunks_iter:
    data_chunk_adj = adjst_literacy(data_chunk)
    chunk_arr.append(data_chunk_adj)
    
df9 = pd.concat(chunk_arr, axis=0)
df9.reset_index(drop = True, inplace = True)

# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
lit_avg = df9['Literacy rate (all)'].mean()
print(lit_avg)

df9.head(20)
#df9['Country'].unique()


print(
    "We analyzed a total of",
    sum([len(c) for c in chunk_arr]), 
    "rows divided in", 
    len(chunk_arr), 
    " chunks with the following configuration:\n",
    [len(c) for c in chunk_arr]
)

df9.info()
len(chunk_arr)

83.22333333333333
We analyzed a total of 150 rows divided in 20  chunks with the following configuration:
 [6, 6, 10, 9, 6, 8, 7, 9, 6, 8, 8, 8, 6, 10, 6, 8, 8, 10, 7, 4]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              150 non-null    object
 1   Literacy rate (all)  150 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

20

In [43]:
teste = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv',
            sep='\t',
            na_values = {'Literacy rate (all)': 'not reported by UNESCO 2015'},
           usecols = ['Country', 'Literacy rate (all)'])

teste['Literacy rate (all)'].nunique()

114

In [44]:
expected_hash = 'f26cd8ca964afd7aaaea0cacb142419676cf9928772f5b5310a036ffdae1586a'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes"

assert df9.loc[df9['Country']=='World', 'Literacy rate (all)'].values[0] == 86.3, "df9 data is wrong"
assert df9.dtypes['Country'] == np.object, "df9 structure is wrong"
assert df9.dtypes['Literacy rate (all)'] == np.float, "df9 structure is wrong" 

expected_hash = '94f2bba3a658b5642ebbc9b952af45c3db1a185ae0357e4fe7ced784f0c3fe29'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash, "lit_avg is wrong"

AssertionError: error on chunk_arr sizes

## Q10: Calculate average values using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incompleted rows and calculate the average of ***Literacy rate (all)*** without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [45]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE


def adjst_literacy(data):
    data['Literacy rate (all)'] = data['Literacy rate (all)'].str.split('%').str.get(0).astype(float)
    return data
    

chunks_iter = pd.read_csv(
    'data/exercises/world_percentage_of_literacy.tsv',
    sep='\t',
    na_values = {'Literacy rate (all)': 'not reported by UNESCO 2015'},
    usecols = ['Country', 'Literacy rate (all)'],
    chunksize=10
)

lit_a = 0
lit_b = 0

for data_chunk in chunks_iter:
    data_chunk_adj = adjst_literacy(data_chunk)
    lit_a = lit_a + data_chunk_adj['Literacy rate (all)'].sum()
    lit_b = lit_b + data_chunk_adj['Literacy rate (all)'].count()

print(lit_a)
print(lit_b)

final_avg = lit_a/lit_b
print(final_avg)

12569.800000000001
151
83.24370860927154

In [46]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert lit_b==151 or lit_a==151, "lit_a or lit_b is wrong"
assert int(lit_b) == 12569 or int(lit_a)==12569, "lit_a or lit_b is wrong"