# BLU02 - Learning Notebook - Data wrangling workflows - Part 3 of 3

In [1]:
import matplotlib.pyplot as plt

import pandas as pd
import os

from category_encoders.ordinal import OrdinalEncoder

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# 3 Advanced pipelines in scikit-learn

Remember our workflow diagram? Let's look at it again.

![data_transformation_workflow](./media/data_processing_workflow.png)

*Fig 1. - A standard workflow (again).*

Pandas, as amazing as it is, can only take us so far.

There, beyond the known universe, lies **modeling**.

Where we are at this point:
* We are to perform transformations on data, setting up robust pipelines using nothing but Pandas
* We can combine different dataframes, to enrich our datasets or generate new ones.

Thus, here we are, modeling lying ahead of us. What's exactly new about modeling though?

We will be using the same dataset, but this time we will create a train-test split, as we would do before modeling.

In [2]:
works = pd.read_csv('./data/works.csv')
works

,GUID,ProgramID,WorkID,MovementID,ComposerName,WorkTitle,Movement,ConductorName,Interval
0,38e072a7-8fc9-4f9a-8eac-3957905c0002,3853,52446,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Hill, Ureli Corelli",NaN
1,c7b2b95c-5e0b-431c-a340-5b37fc860b34,5178,52437,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 3 IN E FLAT MAJOR, OP. 55 (EROICA)",NaN,"Hill, Ureli Corelli",NaN
2,894e1a52-1ae5-4fa7-aec0-b99997555a37,10785,52364,1.0,"Beethoven, Ludwig van","EGMONT, OP.84",Overture,"Hill, Ureli Corelli",NaN
3,34ec2c2b-3297-4716-9831-b538310462b7,5887,52434,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 2 IN D MAJOR, OP.36",NaN,"Boucher, Alfred",NaN
4,610a4acc-94e4-4cd6-bdc1-8ad020edc7e9,305,52453,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 7 IN A MAJOR, OP.92",NaN,"Hill, Ureli Corelli",NaN
...,...,...,...,...,...,...,...,...,...
82571,734c1116-0caf-4f8b-80d0-5e423cd1bcc6,9678,53976,47.0,"Handel, George Frideric",MESSIAH,Chorus: Worthy is the Lamb that was slain,"McGegan, Nicholas",NaN
82572,884c64d6-1768-4cf1-85f1-0ac2f79bbe5c,10608,53976,47.0,"Handel, George Frideric",MESSIAH,Chorus: Worthy is the Lamb that was slain,"Labadie, Bernard",NaN
82573,f549e93f-b35f-4824-b0d5-d543953535f8,9542,53976,51.0,"Handel, George Frideric",MESSIAH,Chorus: Amen,"Bicket, Harry",NaN
82574,734c1116-0caf-4f8b-80d0-5e423cd1bcc6,9678,53976,51.0,"Handel, George Frideric",MESSIAH,Chorus: Amen,"McGegan, Nicholas",NaN
82575,884c64d6-1768-4cf1-85f1-0ac2f79bbe5c,10608,53976,51.0,"Handel, George Frideric",MESSIAH,Chorus: Amen,"Labadie, Bernard",NaN

In [5]:
X_train, X_test = train_test_split(works)
X_train.head()

,GUID,ProgramID,WorkID,MovementID,ComposerName,WorkTitle,Movement,ConductorName,Interval
44382,5b196518-a054-4906-8cc2-48dfc61fe242,12239,53853,NaN,"Sarasate, Pablo de","ZIGEUNERWEISEN (GYPSY AIRS), OP.20",NaN,"Iturbi, Jose",NaN
26921,b4ed02f1-ff28-4172-813c-4a81876feceb,13866,9859,NaN,"Boccherini, Luigi","QUINTET, STRING, E MAJOR, OP. 11, NO. 5, G. 275",NaN,NaN,NaN
31311,33d62ddf-c7e0-4df8-9ce1-5526fdc53901,13100,9276,NaN,"Weber, Carl Maria Von",INVITATION TO THE DANCE (ARR. Weingartner),NaN,"Kindler, Hans",NaN
57397,24f1bfee-c92e-45ff-b02e-ce2d9bd4b72f,3956,9001,12.0,"Wagner, Richard","WALKURE, DIE, WWV 86B","Ride of the Valkyries, Act III","Szell, George",NaN
60172,48df329e-56b0-409b-9972-19342d9ff598,9779,9012,3.0,"Chopin, FrÃ©dÃ©ric",POLONAISES,"Polonaise in C-sharp minor, Op. 26, No. 1",NaN,NaN

## 3.1 How is modeling different from transformation

In Pandas, we merely transformed the original dataframe into a new one.

But sometimes, this isn't possible. Let's start with an example: encoding categorical variables.

Remember: we need to perform the same transformations on train and test data (and whatever data comes next).

In [25]:
def transform_data(df):
    """
        This function transforms the dataframe, removing the intervals and
        encoding the categorical columns
    """
    df = df.copy()
    df = (df.pipe(remove_intervals)
            .pipe(label_encoder, 'ComposerName'))
    return df


def remove_intervals(df):
    """
        This function remove the intervals from the dataframe
    """
    df = df.copy()
    mask = df['Interval'].isnull()
    df = (df.loc[mask, :]
            .drop(columns='Interval'))
    return df
    

def label_encoder(df, column):
    """
        This function encodes a categorical column
    """
    df = df.copy()
    df[column + 'Encoded'] = df[column].astype('category').cat.codes
    return df


X_train_ = transform_data(X_train)

train_alban_berg = X_train_['ComposerName'] == 'Berg,  Alban'
(X_train_.loc[train_alban_berg, ['ComposerName', 'ComposerNameEncoded']]
         .drop_duplicates())

       ComposerName  ComposerNameEncoded
47580  Berg,  Alban                  182

All is good. We removed the intermissions (just like we did previously), and we transformed the original dataframe.

For convenience, we are keeping only the `ComposerName` and `ComposerNameEncoded` columns and removing duplicates.

Let's do the same to the test data.

In [6]:
X_test_ = transform_data(X_test)

test_alban_berg = X_test_['ComposerName'] == 'Berg,  Alban'
(X_test_.loc[test_alban_berg, ['ComposerName', 'ComposerNameEncoded']]
        .drop_duplicates())

       ComposerName  ComposerNameEncoded
35298  Berg,  Alban                   90

Do you see the problem? The same `ComposerName` can (and will, in all probability) get different encodings.

This problem is significant, as it would lead us to make wrong predictions!!

There are other cases in which problems arise. For instance, when replacing missing values with the mean:
* You are supposed to compute the mean on the training set and use it to transform both train and test sets
* Otherwise, you end up underestimating your correct generalization error.

This particular unit is not about modeling at a conceptual level, but you get the point: 
* Somehow, you need to fit the transformer on your training data first (e.g., define the encodings, compute the means)
* Transform both train and test sets (and any data that might come in, really) using the pre-fitted transformers.

These transformations are more like modeling. In fact, all of this *is* modeling and part of your model. 

How do we solve this? **We need transformers that are more like models.**

## 3.2 Meet the sklearn-like transformers

There are at three fundamental verbs in scikit-learn and sklearn-like libraries:
* `.fit()`
* `.transform()`
* `.predict()`.

You are already familiar with `.fit()` and `.predict()`, from the Bootcamp and the Hackathon #1.  We use them to train models and make predictions.

Here, we will explore a new combo: `.fit()` and `.transform()`. This is how it works.

![sklearn_like_transformation_pipeline](./media/sklearn_like_transformation_pipeline.png)

*Fig 2. - A data pipeline with consistent transformers, fitted on the training set.*

In short, we fit a transformer on the training data and use to transform the training data.

We will, however, return the transformer so we can use it to transform new, incoming data as well. Confusing? Perhaps.

Time to get practical: meet the `categorical_encoders`, a set of transformers for encoding categorical variables.

In [7]:
encoder = OrdinalEncoder(cols=['ComposerName'])
X_train_ = encoder.fit_transform(X_train)
X_train_.head()

,GUID,ProgramID,WorkID,MovementID,ComposerName,WorkTitle,Movement,ConductorName,Interval
44382,5b196518-a054-4906-8cc2-48dfc61fe242,12239,53853,NaN,1,"ZIGEUNERWEISEN (GYPSY AIRS), OP.20",NaN,"Iturbi, Jose",NaN
26921,b4ed02f1-ff28-4172-813c-4a81876feceb,13866,9859,NaN,2,"QUINTET, STRING, E MAJOR, OP. 11, NO. 5, G. 275",NaN,NaN,NaN
31311,33d62ddf-c7e0-4df8-9ce1-5526fdc53901,13100,9276,NaN,3,INVITATION TO THE DANCE (ARR. Weingartner),NaN,"Kindler, Hans",NaN
57397,24f1bfee-c92e-45ff-b02e-ce2d9bd4b72f,3956,9001,12.0,4,"WALKURE, DIE, WWV 86B","Ride of the Valkyries, Act III","Szell, George",NaN
60172,48df329e-56b0-409b-9972-19342d9ff598,9779,9012,3.0,5,POLONAISES,"Polonaise in C-sharp minor, Op. 26, No. 1",NaN,NaN

We can now use transform our test set.

In [8]:
X_test_ = encoder.transform(X_test)
X_test_.head()

,GUID,ProgramID,WorkID,MovementID,ComposerName,WorkTitle,Movement,ConductorName,Interval
52910,8f1c4863-e22b-4f9b-909d-ed224ab83720,10468,5611,NaN,918.0,CHANSON JOYEUSE DE NOEL,NaN,"Damrosch, Walter",NaN
16647,8b6d824c-dff3-4214-a049-0ae83e229ccd,8715,52446,NaN,11.0,"SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Damrosch, Walter",NaN
75417,f6ffaad5-60c3-4fae-8057-2ed71b3ea3a9-0.1,9918,2885,NaN,56.0,"AN DER SCHONEN, BLAUEN DONAU (ON THE BEAUTIFUL...",NaN,"Damrosch, Walter",NaN
15055,c14d8c5d-5e91-457d-b8db-627e5003877d,10430,2709,NaN,23.0,"BRANDENBURG CONCERTO NO. 5 IN D MAJOR, BWV 1050",NaN,"Damrosch, Walter",NaN
50036,ad7f6810-0425-4584-9a05-8e5e2a07c9f5,7732,52446,NaN,11.0,"SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Masur, Kurt",NaN

Let's re-do our transformer functions so that they can either fit a transformer or accept a pre-fitted one.

We have to change our `label_encoder()` first to incorporate this logic. Then we need to adapt `transform_data()`.

In [9]:
def transform_data(df, encoder=None):
    df = df.copy()
    df, encoder = (df.pipe(remove_intervals)
                     .pipe(label_encoder, 'ComposerName', encoder))
    
    return df, encoder


def label_encoder(df, columns, encoder=None):
    if not encoder:
        encoder = OrdinalEncoder(cols=[columns])
        encoder.fit(df)
        
    preview_encodings(encoder)

    df = df.copy()
    df = encoder.transform(df)

    return df, encoder

    
def preview_encodings(encoder):
    encodings = encoder.category_mapping[0]['mapping'][:4]
    print('Encodings: {}'.format(encodings))
    return None

X_train_, encoder = transform_data(X_train)

Encodings: Sarasate,  Pablo  de       1
Boccherini,  Luigi         2
Weber,  Carl  Maria Von    3
Wagner,  Richard           4
dtype: int64

In the code above, we changed our functions so that they can receive an encoder. 

Otherwise, they fit and return the new one for re-use.

From a consistency standpoint, things should be looking good. Nonetheless, you are previewing the encoder as a sanity check.

In [10]:
X_test_ = transform_data(X_test, encoder=encoder)

Encodings: Sarasate,  Pablo  de       1
Boccherini,  Luigi         2
Weber,  Carl  Maria Von    3
Wagner,  Richard           4
dtype: int64

What kind of transformations do you need to perform this way? Some widespread ones are:
* Encoding (as we've seen)
* Scaling
* Vectorization (you will learn about this in the next specialization!)
* Missing data imputation.

Now, this changes things (right?):
* We lose the ability to do method chaining, as we have to return encodings as intermediate outputs
* We need to segregate pipelines for training (fit and transform) and test (transform), which adds complexity and it's error-prone.

Because we will perform the same transformations on all datasets, storing all the correct steps is critical for reproducibility and consistency.

It turns out, scikit-learn provides us with a distinctive take on pipelines, to wrap all of this in a single META-TRANSFORMER.

![megazord](./media/megazord.png)

*Fig 3. - A meta-transformer in practice.*

Meet the Megazord.

## 3.3 Pipelines

The sklearn's `Pipelines` provide a higher level of abstraction than the individual building blocks.

Let's tie together all these sequential transformers and run `Megazord.fit()` and `Megazord.transform()` on the whole thing.

That would make managing our code much easier, right? Let's do it:
* We want to replace the missing values with the mode
* We want to one-hot-encode all categorical variables.

First things first, some Pandas magic: let's drop the ID columns and exclude the intervals.

In [11]:
def prepare_data(df):
    df = df.copy()
    df = (df.pipe(drop_id_fields)
            .pipe(remove_intervals)
            .drop_duplicates())
    return df

def drop_id_fields(df):
    columns = ['GUID', 'ProgramID', 'WorkID', 'MovementID']
    df = df.copy()
    df = df.drop(columns=columns)
    return df

X_train_ = prepare_data(X_train)
X_train_.head()

,ComposerName,WorkTitle,Movement,ConductorName
44382,"Sarasate, Pablo de","ZIGEUNERWEISEN (GYPSY AIRS), OP.20",NaN,"Iturbi, Jose"
26921,"Boccherini, Luigi","QUINTET, STRING, E MAJOR, OP. 11, NO. 5, G. 275",NaN,NaN
31311,"Weber, Carl Maria Von",INVITATION TO THE DANCE (ARR. Weingartner),NaN,"Kindler, Hans"
57397,"Wagner, Richard","WALKURE, DIE, WWV 86B","Ride of the Valkyries, Act III","Szell, George"
60172,"Chopin, FrÃ©dÃ©ric",POLONAISES,"Polonaise in C-sharp minor, Op. 26, No. 1",NaN

In [12]:
X_test_ = prepare_data(X_test)
X_test_.head()

,ComposerName,WorkTitle,Movement,ConductorName
52910,"Gevaert, FranÃ§ois-Auguste",CHANSON JOYEUSE DE NOEL,NaN,"Damrosch, Walter"
16647,"Beethoven, Ludwig van","SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Damrosch, Walter"
75417,"Strauss, Johann, II","AN DER SCHONEN, BLAUEN DONAU (ON THE BEAUTIFUL...",NaN,"Damrosch, Walter"
15055,"Bach, Johann Sebastian","BRANDENBURG CONCERTO NO. 5 IN D MAJOR, BWV 1050",NaN,"Damrosch, Walter"
50036,"Beethoven, Ludwig van","SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Masur, Kurt"

Here's how we are going to do:
1. Create an `Imputer` that replace missing values with the mode of the column
2. Use said `SimpleImputer` to impute the missing values
3. Ordinal encode all the categorical features.

All in one, single, amazing, Megazord.

## 3.4 Custom transformers

We can build own custom transformers, for as long as they follow the usual blueprint:
* Implement `Transformer.fit()`
* And `Transformer.transform()`.

All scikit-learn estimators have `get_params()` and `set_params` functions. 

The easiest way to implement these functions sensibly is to inherit from `sklearn.base.BaseEstimator`, as we're doing.

And `Pipeline` compatibility requires a `fit_transform()` method that we are inheriting from `sklearn.base.TransformerMixin`.

In [13]:
class FeatureMultiplier(BaseEstimator, TransformerMixin):
    def __init__(self, some_parameter):
        self.some_parameter = some_parameter

    def fit(self, X, y=None):
        # Fit the transformer and store it.
        return self
        
    def transform(self, X):
        # Transform X.
        return X

Also, we may want our transformer to accept some parameters.

That's we are doing when we include `some_parameter` in the `__init__`.

Back to our transformers. Our blueprint:
* We want the estimator to be able to take a `strategy` parameter, although we will support only the mode
* Fitting requires taking the mode of each column and storing it
* Transform implies replacing missing values with the given column modes.

How are we going to compute the modes? Pandas, as always, provides a convenient `.mode()` method.

In [16]:
X_train_.mode()

pandas.core.frame.DataFrame

To be able to use indexing we will use `df.squeeze()`, a convenient method to transform our dataframe into a `pd.Series`.

In [20]:
X_train.mode().squeeze()

GUID             734c1116-0caf-4f8b-80d0-5e423cd1bcc6
ProgramID                                        9678
WorkID                                              0
MovementID                                          1
ComposerName                         Wagner,  Richard
WorkTitle                  MEISTERSINGER, DIE, WWV 96
Movement                                     Overture
ConductorName                        Damrosch, Walter
Interval                                 Intermission
Name: 0, dtype: object

We have everything we need.

In [18]:
class CategoryImputer(BaseEstimator, TransformerMixin):
    def __init__(self, strategy=None):
        if strategy:
            self.strategy = strategy
        else:
            self.strategy = 'most_frequent'

    def fit(self, X, y=None):
        if self.strategy == 'most_frequent':
            self.fills = X.mode(axis=0).squeeze()
            return self
        else:
            return 'Strategy not supported.'

    def transform(self, X):
        return pd.DataFrame(X).fillna(self.fills)


imputer = CategoryImputer()
X_train_ = imputer.fit_transform(X_train_)
X_train_.head()

,ComposerName,WorkTitle,Movement,ConductorName
44382,"Sarasate, Pablo de","ZIGEUNERWEISEN (GYPSY AIRS), OP.20",Overture,"Iturbi, Jose"
26921,"Boccherini, Luigi","QUINTET, STRING, E MAJOR, OP. 11, NO. 5, G. 275",Overture,"Damrosch, Walter"
31311,"Weber, Carl Maria Von",INVITATION TO THE DANCE (ARR. Weingartner),Overture,"Kindler, Hans"
57397,"Wagner, Richard","WALKURE, DIE, WWV 86B","Ride of the Valkyries, Act III","Szell, George"
60172,"Chopin, FrÃ©dÃ©ric",POLONAISES,"Polonaise in C-sharp minor, Op. 26, No. 1","Damrosch, Walter"

In [19]:
X_train_.isnull().sum()

ComposerName     0
WorkTitle        0
Movement         0
ConductorName    0
dtype: int64

There we go! What about the test set?

In [21]:
X_test_ = imputer.transform(X_test_)
X_test_.isnull().sum()

ComposerName     0
WorkTitle        0
Movement         0
ConductorName    0
dtype: int64

Victory awaits!

## 3.5 Everything together

Now, we want to fill in missing values and use one-hot-encoding (remember?), all at the same time.

We are reaching our destination!

In [22]:
megazord = Pipeline([('fill_na', CategoryImputer(strategy='most_frequent')),
                     ('encode', OrdinalEncoder())])

X_train_ = megazord.fit_transform(X_train)
X_test_ = megazord.transform(X_test)

This way we abstract all the logic of passing transformers around.

Now, can we throw a model in there? Perhaps we can.

(But we shouldn't, in a way. Please note that we are exemplifying data wrangling workflows.)

In [24]:
megazord = Pipeline([('fill_na', CategoryImputer(strategy='most_frequent')),
                     ('encode', OrdinalEncoder()),
                     ('k_means', KMeans())])

megazord.fit(X_train_)
megazord.predict(X_test_)

array([2, 1, 6, ..., 4, 7, 6], dtype=int32)

For the sake of simplicity, we are encoding categorical variables as if they were ordinal, instead of using one-hot-encoding, as recommended.

Take this for what it is: an example on how to build end-to-end pipelines for modeling in scikit-learn.